.wr-pages-compare-car {
    display: flex;
    flex-direction: column;
    overflow: hidden;

    & tbody tr td:nth-child(even) {
        text-align: left;
    }

    & tbody tr td:nth-child(odd) {
        background-color: $gray-200;
    }

    & .form-control {
        height: $wr-list-filter-height;
    }

    &__header {
        padding: 5px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;

        @include wr-card;
    }

    &__body {
        width: 100%;
        height: 100%;
        background-color: $white;
        flex: 1;
        overflow: hidden;
        display: flex;

        @include wr-card;
    }

    &__description {
        flex: 1;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 10px;
    }

    &__left {
        flex-basis: 700px;
    }
}
