.wr-pages-compare-car {
    display: flex;
    flex-direction: column;
    overflow: hidden;

    & tbody tr td:nth-child(even) {
        text-align: left;
    }

    & tbody tr td:nth-child(odd) {
        background-color: $gray-200;
    }

    & .form-control {
        height: $wr-list-filter-height;
    }

    &__header {
        padding: 5px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;

        @include wr-card;
    }

    &__body {
        width: 100%;
        height: 100%;
        background-color: $white;
        flex: 1;
        overflow: hidden;
        display: flex;

        @include wr-card;
    }

    &__description {
        flex: 1;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 10px;
    }

    &__left {
        flex-basis: 700px;
    }

    &-search {
        & .accordion {
            margin-bottom: 10px;
        }

        & .accordion-item {
            border-radius: 0 !important;
            border-color: $wr-divider-color-300;
        }

        & .accordion-button {
            padding: 10px !important;
            height: 60px !important;
            border-radius: 0 !important;
            background: $black;
            color: $white;
            font-weight: 400;
            box-shadow: none !important;
            justify-content: space-between;

            &:not(.collapsed) {
                background: $gray-300;
                color: $black;
            }

            &::after {
                display: none;
            }
        }

        & .accordion-body {
            padding: 0 !important;
        }

        & .accordion-collapse {
            transition: height 1s linear;
        }

        &-accordion {
            &__body {
                max-height: 234px;
                overflow: auto;
            }

            &__item {
                padding: 10px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                border-bottom: 1px solid $wr-divider-color-300;

                &:last-child {
                    border-bottom-width: 0;
                }
            }
        }

        &-description {
            border: 1px solid $wr-divider-color-300;
            border-top-width: 3px;
            border-top-color: $black;
        }
    }
}
