.wr-pages-comparison-estimate {
    display: flex;
    flex-direction: column;
    overflow: hidden;

    &__block {
        border-bottom: 0 !important;

        &.customer {
            border: 1px solid #afd4e2;
        }

        &.vehicle {
            border: 1px solid #678c67;
        }

        &.guarantee {
            border: 1px solid #a7a3a6;
        }

        &.insurancerate {
            border: 1px solid #ef94e3;
        }
    }

    &__header {
        padding: 5px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;

        @include wr-card;
    }

    &__body {
        width: 100%;
        background-color: $white;
        flex: 1;
        overflow: auto;

        @include wr-card;
    }

    & .form-control {
        height: $wr-list-filter-height;
    }

    &__title {
        text-align: center;

        & h3 {
            font-size: 16px;
            line-height: 32px;
        }

        &.customer {
            background-color: #e9f2f6;
            border-bottom: 1px solid #afd4e2;
        }

        &.vehicle {
            background-color: #edf8ed;
            border-bottom: 1px solid #678c67;
        }

        &.guarantee {
            background-color: #f4f4f4;
            border-bottom: 1px solid #a7a3a6;
        }

        &.insurancerate {
            background-color: #fdf7fd;
            border-bottom: 1px solid #ef94e3;
        }
    }

    &__item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        // height: 32px;
        &.customer {
            border-bottom: 1px solid #afd4e2;
        }

        &.vehicle {
            border-bottom: 1px solid #678c67;
        }

        &.guarantee {
            border-bottom: 1px solid #a7a3a6;
        }

        &.insurancerate {
            border-bottom: 1px solid #ef94e3;
        }
    }

    &__description {
        flex: 1;
        padding: 5px 10px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 10px;
        border-left: 1px solid #a7a3a6;
        min-height: 40px;

        &.customer {
            border-left: 1px solid #afd4e2;
        }

        &.vehicle {
            border-left: 1px solid #678c67;
        }

        &.guarantee {
            border-left: 1px solid #a7a3a6;
        }

        &.insurancerate {
            border-left: 1px solid #ef94e3;
        }

        &.extension {
            border-right: 1px solid #a7a3a6;
        }
    }

    &__button {
        font-size: 12px;
        border: 1px solid $wr-divider-color-300;
        height: $wr-list-filter-height;
        width: 100%;
    }

    &__list {
        display: flex;
        flex-direction: column;
    }

    &__label {
        position: relative;
        flex-basis: 112px;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        flex-direction: column;
        padding: 10px 0;
    }

    &__with {
        display: flex;
        justify-content: center;
        align-items: center;
        flex: 1;
        gap: $wr-gutter-size;
        padding: 0;
    }

    &__footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 5px 0;

        & a {
            text-decoration: underline !important;
            color: red !important;
        }
    }

    &__toolbar {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 5px;
    }
}
