.wr-pages-detail {
    overflow: hidden;
    // background-color: $gray-200;

    &__left {
        --bs-gutter-x: 0;
        overflow-y: auto;
        height: calc(100vh - 110px);
        padding: $wr-gutter-size;
    }

    &__right {
        padding: $wr-gutter-size;

        // Custom Bootstrap
        & .nav-link {
            background-color: white !important;

            &:not(.active) {
                background-color: inherit !important;
                color: $black;
            }

            &:hover {
                border-top: 1px solid $wr-divider-color-100;
                border-right: 1px solid $wr-divider-color-100;
                background-color: $white !important;
                color: $black;
            }
        }
    }

    &__block {
        // padding: 0 !important;

        @include wr-card;

        & + & {
            margin-top: $wr-gutter-size;
        }
    }

    &__department {
        font-size: 15px;
    }

    &__avatar {
        margin-left: 5px;
    }

    &__with {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 10px;
    }

    &__body {
        border: 1px solid $wr-divider-color-100;
        border-top: 0;
        height: 715px;
        overflow-y: auto;
        background-color: $white;
    }

    &__income {
        padding: $wr-gutter-size;

        & .form-control {
            max-width: 337px;
        }
    }

    // Custom Bootstrap
    & .form-control {
        font-size: 16px !important;
    }
}
