.wr-pages-list2 {
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;

    &__header {
        display: flex;
        justify-content: space-between;
        background-color: $white;
        border-radius: 5px;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1);
    }

    &__filters {
        flex: 1;
        height: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding: 19px 25px 15px 25px;
    }

    &__search {
        width: 75px;
        height: 100%;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        overflow: hidden;

        & > button {
            width: 100%;
            height: 100%;
            background-color: $wr-primary-color;
            color: $white;
            font-size: 16px;
            font-weight: 700;
        }
    }

    &__filter {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 10px;

        & > div {
            flex: 1;
        }
    }

    &__field {
        display: flex;
        flex-direction: column;
        gap: 5px;
        height: 50px;
    }

    &__total {
        color: #606060;
        font-size: 14px;
        font-weight: 700;
        line-height: 1.5;
    }

    &__label {
        font-size: 11px;
        line-height: 1.5;
        color: $wr-secondary-color;

        &--active {
            color: $wr-primary-color;
            font-weight: 700;
        }

        &--disable {
            color: $wr-secondary-color;
            font-weight: 250;
        }
    }

    &__labels {
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    &__divider {
        min-width: 2px;
        background-color: #dce2eb;
        margin: 0 10px;
        height: 50px;
    }

    &__labeldivider {
        min-width: 1px;
        background-color: $wr-secondary-color;
        margin: 0 5px;
        height: 5px;
    }

    &__toolbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 30px;
        padding-right: $wr-gutter-size;

        & svg {
            color: $wr-primary-color;
        }
    }

    &__datewrap {
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid $wr-input-border-color;
        padding: 0 5px;

        & svg {
            color: $wr-primary-color;
        }
    }

    &__body {
        border: 1px solid $wr-table-border-color;
        flex: 1;
        overflow: hidden;
    }

    &__footer {
        height: 50px;
    }

    // 페이지 내 입력창의 높이 조절
    & .form-control {
        height: $wr-list-filter-height;
        font-size: $wr-filter-font-size;
    }

    // 페이지 내 데이트피커 스타일 변경
    & .rs-picker-toggle,
    .rs-stack-item input {
        border: none !important;
    }

    .rs-stack-item {
        font-size: $wr-filter-font-size !important;
    }
    .rs-picker-toggle-placeholder {
        font-size: $wr-filter-font-size !important;
    }
}
