.wr-pages-list {
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    --wr-gutter-size: 10px;

    &__header {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;

        @include wr-card;
    }

    &__filter {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 10px;

        & > div {
            flex: 1;
        }
    }

    &__body {
        border: 1px solid $wr-divider-color-300;
        flex: 1;
        overflow: hidden;
    }

    // 페이지 내 입력창의 높이 조절
    & .form-control {
        height: $wr-list-filter-height;
    }
    // 페이지 내 데이트피커 설정
    & .rs-picker-toggle-value {
        color: $wr-input-font-color;
    }

    .rs-picker-default .rs-picker-toggle.rs-btn {
        padding-left: 6px !important;
    }
}
