.wr-pages-create-board {
    display: flex;
    flex-direction: column;
    height: 100%;

    &__header {
        @include wr-card;
    }

    &__body {
        flex: 1;
        overflow: auto;
        border: 1px solid $wr-divider-color-300;
        padding: $wr-gutter-size;

        @include wr-card;
    }

    &__attachment {
        display: flex;
        flex-direction: column;

        @include wr-card;
    }

    &__uploaded {
        @include wr-card;
    }

    &__uploaditem {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 5px $wr-gutter-size;
        gap: 5px;
    }

    &__file {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex: 1;
        gap: 5px;
    }

    &__progress {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 200px;
        gap: 5px;

        & .progress {
            flex: 1;
        }
    }

    &__toolbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__option {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: $wr-gutter-size;

        @include wr-card;
    }

    // 페이지 내 입력창의 높이 조절
    & .form-control {
        height: $wr-list-filter-height;
    }
}
