.wr-badge {
    --bs-badge-padding-x: 5px;
    --bs-badge-padding-y: 5px;
    --bs-badge-font-size: 12px;

    &__wrap {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 3px;
    }
}
