.wr-btn {
    border: none;
    background: none;
    padding: 0;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;

    &--with {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 5px;
    }
}
