.wr-checkbox {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;

    & .form-check-label {
        line-height: 15px;
        font-weight: 500;
        font-size: 11px;
        color: $wr-secondary-color;
    }
}
