.wr-drawer {
    z-index: $wr-drawer-index !important;
    // background-color: $wr-header-color !important;

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 43px;
    }

    &__title {
        padding: 10px;
        color: rgba(255, 255, 255, 0.85);
        font-size: 20px;
        line-height: 20px;
        display: block;
    }

    &__subtitle {
        padding-left: 15px;
        color: #888;
        font-size: 12px;
        line-height: 20px;
        display: block;
        background-color: inherit;

        &:hover {
            background-color: $wr-hover-color;
            color: $white;
        }

        & + & {
            margin-top: 5px;
        }
    }

    & > div {
        margin-bottom: 5px;
    }

    & ul {
        margin-bottom: 0 !important;
        padding-left: 0 !important;
    }
    // Custom Bootstrap
    & .accordion-button {
        background-color: inherit !important;
        // border: none !important;
        // color: $black !important;
        font-size: 14px;
        border-radius: 0 !important;
        padding: 0 5px !important;
        line-height: 30px;
    }

    & .accordion-item {
        background-color: inherit !important;
        border: none !important;
    }

    & .accordion-button {
        color: #888 !important;
        font-weight: bold;
        box-shadow: none !important;
        --bs-accordion-btn-icon-width: 10px;
    }

    & .accordion-body {
        padding: 5px 0 0 0 !important;
    }

    & .accordion-header:hover {
        background-color: $wr-hover-color;

        & > button {
            color: $white !important;
        }

        .accordion-button::after {
            background-image: escape-svg(
                url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' width='12px' height='12px' fill='#{$white}'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>")
            );
        }

        .accordion-button.collapsed::after {
            background-image: escape-svg(
                url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' width='12px' height='12px' fill='#{$white}'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>")
            );
        }
    }
}
