.wr-filter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    gap: 50px;

    &__block {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: $wr-gutter-size;

        & .form-check {
            display: flex !important;
            justify-content: space-between;
            align-items: flex-end;
            gap: 5px;
        }
    }
}
