.wr-form {
    // & .input-group {
    //     height: $wr-filter-height;
    // }

    &__unit {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 10px;
        border: 1px solid $wr-divider-color-300;
        background-color: $gray-300;
    }
}
