.wr-frame {
    &__header {
        height: $wr-header-size;
    }

    &__body {
        height: calc(100vh - $wr-header-size - $wr-footer-size);
    }

    &__body--nofooter {
        height: calc(100vh - $wr-header-size);
    }

    &__footer {
        height: $wr-footer-size;
    }

    &__section {
        height: calc(100vh - $wr-header-size - $wr-footer-size - 30px);
    }

    &__tabbody {
        height: calc(
            100vh - $wr-header-size - $wr-footer-size - $wr-tab-size -
                $wr-gutter-size
        );
    }

    &__nofooter {
        height: calc(100vh - $wr-header-size - 20px);
    }
}
