.wr-frame {
    &__header {
        height: $wr-header-size;
    }

    &__history {
        height: $wr-tab-size;
    }

    &__main {
        height: calc(100vh - $wr-header-size);
    }

    &__body {
        height: calc(100vh - $wr-header-size - $wr-tab-size);

        &--nofooter {
            height: calc(100vh - $wr-header-size);
        }
    }

    &__nav {
        height: calc(100vh - $wr-header-size);
    }

    &__tabbody {
        height: calc(
            100vh - $wr-header-size - $wr-footer-size - $wr-tab-size -
                $wr-gutter-size * 3
        );
    }

    &__footer {
        height: $wr-footer-size;
    }
}
