html,
body {
    width: 100%;
}

body {
    position: relative;
    background-color: $gray-200 !important;
    color: $black !important;
    font-size: 14px !important;
    line-height: 1.25em !important;
    padding: 0;
    margin: 0;
    overflow: hidden;
    font-family: $wr-base-font !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: none;
    --wr-tab-active-color: #e9ecef;
}

hr {
    --rs-border-primary: black;
    margin-top: $wr-gutter-size !important;
    margin-bottom: $wr-gutter-size !important;
}

ul,
ol {
    margin: 0 !important;
    padding: 0 !important;
}

a,
a:hover,
a:focus,
a:active,
a:visited {
    text-decoration: none !important;
    cursor: pointer !important;
}

textarea {
    border: 1px solid $wr-divider-color-300;
    outline: none;
}

table {
    width: fit-content;
}

th {
    padding: 2px 4px;
    position: relative;
    font-weight: bold;
    text-align: center;
    height: 30px;
}

th,
td {
    white-space: nowrap;
    text-align: center;
    vertical-align: middle;
}

tr {
    width: fit-content;
}

td {
    height: 30px;
    table-layout: fixed;
}

/* 스크롤 설정 */
::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}
::-webkit-scrollbar-track {
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.1);
}
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.2);
}
::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, 0.4);
}
::-webkit-scrollbar-thumb:active {
    background: rgba(0, 0, 0, 0.9);
}

/* Common Class */
// 접근성을 위한 텍스트 가리기
.a11y-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
    clip-path: polygon(0 0, 0 0, 0 0);
}

/* Custom Drawer */
.EZDrawer__overlay {
    z-index: $wr-overlay-index !important;
}

/* Custom Rsuite Datepicker */
// Datepicker - 컨테이너 설정
.rs-picker-menu {
    border-radius: $wr-border-radius !important;
    border: 1px solid $wr-divider-color-300 !important;
    margin-top: 2px;
}
// .rs-picker-daterange-header {
//     display: none;
// }
// Datepicker - 입력창 설정
.rs-picker-toggle {
    border-radius: 0 !important;
    border: 1px solid $wr-divider-color-300 !important;

    // &:hover {
    //     border: 1px solid $wr-hover-color !important;
    // }
}
.rs-picker-default .rs-picker-toggle.rs-btn {
    padding-left: 6px !important;
}
.rs-picker-default .rs-picker-toggle {
    z-index: 0 !important;
}
.rs-picker-toggle-active {
    box-shadow: none !important;
    // border: 1px solid #2684ff !important;
}
// .rs-picker-toggle-active:hover {
//     border: none;
// }
// Datepicker - Placeholder 설정
.rs-picker-toggle-value {
    color: $black !important;
}
.rs-stack-item {
    font-size: $wr-filter-font-size;
}
.rs-picker-toggle-placeholder {
    font-size: $wr-filter-font-size;
}

/* Custom Toast Editor */
.toastui-editor-defaultUI {
    border-radius: 0 !important;
    border-color: $wr-divider-color-300 !important;
}

.toastui-editor-defaultUI-toolbar {
    border-color: $wr-divider-color-300 !important;
}

.toastui-editor-toolbar-divider {
    background-color: $wr-divider-color-300 !important;
}

.toastui-editor-defaultUI .placeholder {
    background-color: $white;
    color: $black !important;
}

/* Custom Cropperjs */
.cropper-bg {
    background: $white !important;
}

/* Custom Bootstrap */
// grid gutter 제거
[class^='col'] {
    padding: 0 !important;
}

input[type='number'] {
    text-align: right;
    padding-right: 0 !important;
}

.input-group > div {
    width: 100%;
}

// grid row 공통 스타일 재정의
.row {
    // 상위 컨테이너 이상의 너비를 갖지 않도록 조정
    margin: 0 auto;
}
// input 공통 스타일 재정의
.form-control {
    border-radius: 0 !important;
    font-size: 16px;
    box-shadow: none !important;
    border-color: $wr-divider-color-300 !important;
    // height: 30px;
    height: 100%;
}
// 버튼 공통 스타일 재정의
.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0 !important;
    padding: 3px 7px !important;
}
// 테이블 관련 공통 스타일 재정의
.table > :not(caption) > * > * {
    background-color: inherit;
    padding: 6px 5px !important;
}
// popover

.upload-files {
}

.upload-files-container {
    background-color: #f7fff7;
    width: 420px;
    padding: 30px 60px;
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 10px 20px,
        rgba(0, 0, 0, 0.28) 0px 6px 6px;
}
.drag-file-area {
    border: 2px dashed #7b2cbf;
    border-radius: 40px;
    margin: 10px 0 15px;
    padding: 30px 50px;
    width: 350px;
    text-align: center;
}
.drag-file-area .upload-icon {
    font-size: 50px;
}
.drag-file-area h3 {
    font-size: 26px;
    margin: 15px 0;
}
.drag-file-area label {
    font-size: 19px;
}
.drag-file-area label .browse-files-text {
    color: #7b2cbf;
    font-weight: bolder;
    cursor: pointer;
}
.browse-files span {
    position: relative;
    top: -25px;
}
.default-file-input {
    opacity: 0;
}
.cannot-upload-message {
    background-color: #ffc6c4;
    font-size: 17px;
    display: flex;
    align-items: center;
    margin: 5px 0;
    padding: 5px 10px 5px 30px;
    border-radius: 5px;
    color: #bb0000;
    display: none;
}
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.cannot-upload-message span,
.upload-button-icon {
    padding-right: 10px;
}
.cannot-upload-message span:last-child {
    padding-left: 20px;
    cursor: pointer;
}
.file-block {
    color: #f7fff7;
    background-color: #7b2cbf;
    transition: all 1s;
    width: 390px;
    position: relative;
    display: none;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0 15px;
    padding: 10px 20px;
    border-radius: 25px;
    cursor: pointer;
}
.file-info {
    display: flex;
    align-items: center;
    font-size: 15px;
}
.file-icon {
    margin-right: 10px;
}
.file-name,
.file-size {
    padding: 0 3px;
}
.remove-file-icon {
    cursor: pointer;
}
.progress-bar {
    display: flex;
    position: absolute;
    bottom: 0;
    left: 4.5%;
    width: 0;
    height: 5px;
    border-radius: 25px;
    background-color: #4bb543;
}
.upload-button {
    font-family: 'Montserrat';
    background-color: #7b2cbf;
    color: #f7fff7;
    display: flex;
    align-items: center;
    font-size: 18px;
    border: none;
    border-radius: 20px;
    margin: 10px;
    padding: 7.5px 50px;
    cursor: pointer;
}
