html,
body {
    width: 100%;
}

body {
    position: relative;
    background-color: $gray-200 !important;
    color: $black !important;
    font-size: 14px !important;
    line-height: 1.25em !important;
    padding: 0;
    margin: 0;
    overflow: hidden;
    font-family: $wr-base-font !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: none;
    --wr-tab-active-color: #e9ecef;
}

hr {
    --rs-border-primary: black;
    margin-top: $wr-gutter-size !important;
    margin-bottom: $wr-gutter-size !important;
}

ul,
ol {
    margin: 0 !important;
    padding: 0 !important;
}

a,
a:hover,
a:focus,
a:active,
a:visited {
    text-decoration: none !important;
    cursor: pointer !important;
}

textarea {
    border: 1px solid $wr-divider-color-300;
    outline: none;
}

table {
    border-collapse: separate !important;
    width: fit-content;
    // table-layout: fixed;
}

thead {
    margin: 0;
    position: sticky;
    top: 0;
}

th {
    padding: 2px 4px;
    position: relative;
    font-weight: bold;
    text-align: center;
    height: 30px;
}

th,
td {
    white-space: nowrap;
    text-align: center;
}

tr {
    width: fit-content;
    // table-layout: fixed;
}

td {
    height: 30px;
    table-layout: fixed;
}

/* 스크롤 설정 */
::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}
::-webkit-scrollbar-track {
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.1);
}
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.2);
}
::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, 0.4);
}
::-webkit-scrollbar-thumb:active {
    background: rgba(0, 0, 0, 0.9);
}

/* Common Class */
// 접근성을 위한 텍스트 가리기
.a11y-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
    clip-path: polygon(0 0, 0 0, 0 0);
}

/* Custom Drawer */
.EZDrawer__overlay {
    z-index: $wr-overlay-index !important;
}

/* Custom Rsuite Datepicker */
// Datepicker - 컨테이너 설정
.rs-picker-menu {
    border-radius: $wr-border-radius !important;
    border: 1px solid $wr-divider-color-300 !important;
    margin-top: 2px;
}
// .rs-picker-daterange-header {
//     display: none;
// }
// Datepicker - 입력창 설정
.rs-picker-toggle {
    border-radius: 0 !important;
    border: 1px solid $wr-divider-color-300 !important;

    // &:hover {
    //     border: 1px solid $wr-hover-color !important;
    // }
}
.rs-picker-default .rs-picker-toggle.rs-btn {
    padding-left: 6px !important;
}
.rs-picker-default .rs-picker-toggle {
    z-index: 0 !important;
}
.rs-picker-toggle-active {
    box-shadow: none !important;
    // border: 1px solid #2684ff !important;
}
// .rs-picker-toggle-active:hover {
//     border: none;
// }
// Datepicker - Placeholder 설정
.rs-picker-toggle-value {
    color: $black !important;
}
.rs-stack-item {
    font-size: $wr-filter-font-size;
}
.rs-picker-toggle-placeholder {
    font-size: $wr-filter-font-size;
}

/* Custom Toast Editor */
.toastui-editor-defaultUI {
    border-radius: 0 !important;
    border-color: $wr-divider-color-300 !important;
}

.toastui-editor-defaultUI-toolbar {
    border-color: $wr-divider-color-300 !important;
}

.toastui-editor-toolbar-divider {
    background-color: $wr-divider-color-300 !important;
}

.toastui-editor-defaultUI .placeholder {
    background-color: $white;
    color: $black !important;
}

/* Custom Bootstrap */
// grid gutter 제거
[class^='col'] {
    padding: 0 !important;
}

input[type='number'] {
    text-align: right;
    padding-right: 0 !important;
}

.input-group > div {
    width: 100%;
}

// grid row 공통 스타일 재정의
.row {
    // 상위 컨테이너 이상의 너비를 갖지 않도록 조정
    margin: 0 auto;
}
// input 공통 스타일 재정의
.form-control {
    border-radius: 0 !important;
    font-size: 16px;
    box-shadow: none !important;
    border-color: $wr-divider-color-300 !important;
    // height: 30px;
    height: 100%;
}
// 버튼 공통 스타일 재정의
.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0 !important;
    padding: 3px 7px !important;
}
// 테이블 관련 공통 스타일 재정의
.table > :not(caption) > * > * {
    background-color: inherit !important;
    padding: 6px 5px !important;
}
// popover
// .popover {
//     border-radius: 0 !important;
// }
// .popover-arrow {
//     opacity: 0;
// }

// .popover-header {
//     line-height: 1.5 !important;
//     padding: 6px 12px !important;
//     background-color: $white !important;
//     font-size: 14px !important;
// }
