.wr-p {
    &l {
        padding-left: var(--wr-gutter-size) !important;
    }

    &r {
        padding-right: var(--wr-gutter-size) !important;
    }

    &t {
        padding-top: var(--wr-gutter-size) !important;
    }

    &b {
        padding-bottom: var(--wr-gutter-size) !important;
    }
}

.wr-m {
    &l {
        margin-left: var(--wr-gutter-size) !important;
    }

    &r {
        margin-right: var(--wr-gutter-size) !important;
    }

    &t {
        margin-top: var(--wr-gutter-size) !important;
    }

    &b {
        margin-bottom: var(--wr-gutter-size) !important;
    }
}
