.wr-header {
    width: 100%;
    background-color: $wr-header-color;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    &__logo {
        background-color: $wr-header-color;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding: 0 23px;
    }

    &__title {
        padding-left: 53px;
        font-size: 16px;
        color: $white;
        font-weight: 700;
        position: relative;
        height: 38px;

        &::before {
            content: '';
            background-image: url(/static/images/logo2.png);
            background-size: cover; /* 이미지를 요소 크기에 맞게 확대 또는 축소 */
            position: absolute; /* 이미지 위치를 조절하기 위해 절대 위치로 설정 */
            top: 0; /* 위쪽 여백 조절 */
            left: 0; /* 왼쪽 여백 조절 */
            display: block;
            width: 38px;
            height: 38px;
        }
    }
}

.wr-gnb {
    // background-color: $wr-header-color;
    // color: #333;
    position: relative;
    // z-index: $wr-gnb-index;
    font-size: 14px;
    line-height: 14px;
    // transform: translateZ(0);
    // will-change: contents;

    &__inner {
        position: relative;
        margin: 0 10px;
        // max-width: 1110px;
        // margin: 0 auto;
    }

    &__both {
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    &__left {
        position: relative;
        flex-grow: 1;
        flex-shrink: 1;
        flex-basis: 250px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    &__right {
        position: relative;
        text-align: right;
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }

    &__logout {
        margin-left: 62px;
        margin-right: 32px;

        & svg {
            color: $wr-primary-color;
        }
    }

    &__logo {
        float: left;
    }

    &__menu {
        height: 40px;
        overflow: hidden;
        display: flex;
        align-items: center;
    }

    &__menuitem {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 90px;
        gap: 5px;
        cursor: pointer;

        & + & {
            border-left: 2px solid #476fd3;
        }

        & svg {
            fill: $white;
        }
    }

    &__services {
        width: 100%;
        height: 35px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    &__metadata {
        display: flex;
        justify-content: center;
        align-items: flex-end;
        font-size: 12px;
        color: $gray-300;
    }

    &__title {
        font-size: 20px;
        line-height: 20px;
        font-weight: 700;
        position: relative;
        color: $white !important;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__subtitle {
        font-weight: 500;
        font-size: 14px;
        line-height: 1.5;
        position: relative;
        margin-right: 28px;
        color: #333 !important;
    }

    &__group {
        display: flex;
        flex-direction: column;
    }

    &__search {
        width: 160px;
        // height: 30px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        overflow: hidden;
        background-color: $white;
        border: 1px solid #f5f5f5;
        border-radius: 3px;
    }

    &__input {
        flex: 1;
        padding: 0 8px;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        & > input {
            width: 100%;
            line-height: 20px;
            border: none;
            font-size: 14px;
            font-weight: 500;
            outline: none;
        }
    }

    &__button {
        width: 30px;
        height: 100%;

        & > button {
            background-color: $wr-primary-color;
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 8px;
        }
    }
}
