.wr-header {
    width: 100%;
    background-color: $wr-header-color;
    overflow: hidden;
}

.wr-meta {
    height: 35px;
    background-color: $white;
    border-left: 1px solid $wr-divider-color-300;

    &__inner {
        height: 100%;
        margin: 0 10px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 10px;
        color: $black;
    }

    &__right {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }

    &__department {
        font-size: 12px;
        // margin-right: 10px;
    }

    &__username {
        text-align: right;
        margin-right: 50px;
        font-weight: bold;
        font-size: 14px;
    }

    &__log {
        // margin-right: 20px;
        font-size: 10px;
        color: $wr-label-color;
    }

    &__search {
        width: 150px;
    }
}

.wr-gnb {
    // background-color: $wr-header-color;
    color: $white;
    position: relative;
    z-index: $wr-gnb-index;
    font-size: 14px;
    line-height: 14px;
    // transform: translateZ(0);
    // will-change: contents;

    &__inner {
        position: relative;
        margin: 0 10px;
        // max-width: 1110px;
        // margin: 0 auto;
    }

    &__both {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__left {
        position: relative;
        flex-grow: 1;
        flex-shrink: 1;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    &__right {
        position: relative;
        flex-grow: 0;
        flex-shrink: 1;
        text-align: right;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        flex-direction: column;
    }

    &__logo {
        float: left;
    }

    &__menu {
        height: 40px;
        overflow: hidden;
        display: flex;
        align-items: center;
    }

    &__menuitem {
        float: left;
        color: #fff;
        font-size: 18px;
        line-height: inherit;

        & > a {
            display: inline-block;
            vertical-align: top;
            overflow: hidden;
        }
    }

    &__services {
        width: 100%;
        height: 35px;
        display: flex;
        justify-content: flex-end;
        align-items: center;

        & > li {
            height: 100%;
        }
    }

    &__metadata {
        display: flex;
        justify-content: center;
        align-items: flex-end;
        font-size: 12px;
        color: $gray-300;
    }

    &__title {
        font-size: 18px;
        line-height: 24px;
        font-weight: bold;
        height: 24px;
        position: relative;
        display: inline-block;
        color: $white !important;
        vertical-align: top;
        margin-left: 10px;
        margin-right: 7px;

        // 구분선
        // &::before {
        //     position: absolute;
        //     top: 2px;
        //     left: -8px;
        //     display: inline-block;
        //     width: 1px;
        //     height: 24px;
        //     background-color: rgba(255, 255, 255, 0.3);
        //     content: '';
        // }
    }

    &__subtitle {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        font-size: 14px;
        position: relative;
        color: $white;
        margin-left: $wr-gutter-size;

        &:hover {
            color: white;
        }
    }

    &__group {
        display: flex;
        flex-direction: column;
    }
}

.wr-lnb {
    background: $wr-secondary-color;
    position: relative;
    z-index: $wr-lnb-index;
    overflow: hidden;
    border-left: 1px solid $wr-divider-color-300;

    &__inner {
        position: relative;
        display: flex;

        & .nav {
            height: 35px;
        }
    }

    &__right {
        flex: 1;
        border-bottom: 1px solid $wr-divider-color-300;
        // position: absolute;
        // top: 50%;
        // right: 0;
        // transform: translateY(-50%);
        // text-align: right;
    }

    &__metadata {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        font-size: 12px;
        color: $gray-100;
        font-weight: bold;
        margin-right: 10px;
    }
}

.wr-logo {
    &__link {
        display: block;
        overflow: hidden;
        padding: 0 10 0 15px;
        height: 52px;
        line-height: 52px;
        text-align: center;
    }

    &__icon {
        width: 180px;
        height: 50px;
        display: inline-block;
        // margin: 17px auto 0;
        vertical-align: top;
        color: transparent;
    }
}
