.wr-login-input {
    border-left: none;
    font-size: 16px;
    width: 320px;
    border: none;
    height: 50px;
    background-repeat: no-repeat;
    padding-left: 60px;
    outline: none;

    &__wrap {
        position: relative;

        & + & {
            margin-top: $wr-gutter-size;
        }
    }

    &__icon {
        position: absolute;
        top: 50%;
        transform: translate3d(-50%, -50%, 0);
        left: 20px;

        & > svg {
            fill: $gray-700;
        }
    }
}

.wr-detail-input {
    font-size: $wr-detail-input-font-size;
    font-weight: $wr-detail-input-font-weight;
    border: none;
    background-color: inherit;
    width: 100%;
    height: 100%;
    outline: none;
    position: relative;
    color: $wr-detail-input-color;
    padding: 8.5px 14px;
    border-radius: 5px;

    &--active {
        background: $white !important;

        & .rs-picker-toggle-placeholder {
            display: none;
        }
    }

    // &--datepicker {
    //     padding-right: 8px !important;
    //     padding-left: $wr-detail-input-padding-left !important;
    // }

    &--search {
        padding-right: 0 !important;
    }

    &__wrap {
        position: relative;
        border-radius: 2px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid $wr-detail-input-border-color;
        background: $wr-detail-input-bg-color;
        height: $wr-detail-input-height;
        // padding: 8.5px 14px;
        border-radius: 5px;
    }

    &__required {
        position: absolute;
        top: 8px;
        left: 8px;
        width: 5px;
        height: 5px;
        border-radius: 50%;
        background-color: rgba(224, 129, 133, 0.82);
        z-index: 100;
    }

    &__float {
        position: absolute;
        opacity: 0;
        top: -6px;
        left: 15px;
        opacity: 0;
        z-index: 1000;

        &--active {
            opacity: 1;
        }
    }

    &__both {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }

    &__button {
        min-width: 40px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $wr-primary-color;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;

        & > svg {
            color: white !important;
        }
    }

    &__label {
        position: relative;
        font-weight: 500;
        line-height: 12px;
        font-size: 11px;
        color: #3556a9;
        background-color: $white;
        padding: 0 3px;
    }

    &::placeholder {
        color: $wr-detail-input-placeholder-color;
    }
}
