.wr-label {
    color: $wr-label-color !important;
    font-size: $wr-label-size;
    margin-bottom: 0.1rem;
    // margin-right: 0.8rem;

    &--required {
        position: relative;

        &::after {
            content: '*';
            color: red;
            position: absolute;
            top: -3px;
            right: -5px;
        }
    }
}
