.wr-main {
    position: relative;
    width: 100%;
    height: calc(100vh - 110px - $wr-footer-size);
    margin: 0 auto;
    overflow: hidden;

    &__inner {
        // margin: 0 20px;
        padding: $wr-gutter-size;
        border-top: 0;
        height: 100%;
    }
}
