.wr-nav {
    flex-basis: $wr-nav-width;
    background-color: $white;
    position: relative;
    padding-top: $wr-tab-size;
    flex-shrink: 0;
    box-shadow: 2px 0px 4px 0px rgba(0, 0, 0, 0.06);
    z-index: $wr-drawer-index;
    transition: all 0.5s ease;

    &__body {
        height: calc(100vh - $wr-header-size);
        position: relative;
    }

    &.collapsed {
        flex-basis: 0;

        & .accordion {
            display: none;
        }
    }

    & .accordion {
        margin-left: 15px;
    }
}
