.wr-pagination {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: $wr-gutter-size;

    @include wr-card;

    // Custom Bootstrap
    & .page-link {
        font-size: 12px;
        border-top-left-radius: none !important;
        border-bottom-left-radius: none !important;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px 20px !important;
        color: $black;
    }

    & .page-link:hover {
        color: $black;
    }
}
