@include media-breakpoint-down(xs) {
}

@include media-breakpoint-up(xs) {
}

// 576px 이하
@include media-breakpoint-down(sm) {
}

// 576px 이상
@include media-breakpoint-up(sm) {
}

// 768px 이하
@include media-breakpoint-down(md) {
    .wr-pages-list__filter {
        width: 100%;
    }
}

// 768px 이상
@include media-breakpoint-up(md) {
    .wr-pages-list__filter {
        width: calc(50% - 5px);
    }
}

// 992px 이하
@include media-breakpoint-down(lg) {
    .wr-gnb__right {
        display: none !important;
    }
    .wr-meta__log,
    .wr-meta__search {
        display: none !important;
    }
}

// 992px 이상
@include media-breakpoint-up(lg) {
}

// 1200px 이상
@include media-breakpoint-up(xl) {
}

// 1400px 이상
@include media-breakpoint-up(xxl) {
    .wr-pages-list__filter {
        width: calc(25% - 8px);
    }
}
