/* 웹킷 기반 스크롤 설정 */
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}
::-webkit-scrollbar-track {
    border-radius: 10px;
    background: #f1f1f1;
    width: 5px;
}
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.2);
}
::-webkit-scrollbar-thumb:hover,
::-webkit-scrollbar-thumb:active {
    background: #aaa;
}
