.wr-search {
    &__inner {
        --bs-gutter-x: 30px;

        @include wr-card;
    }

    &__icon {
        width: 30px;
        height: 30px;
        padding: 0 !important;
    }

    &__form {
        width: 100%;
        height: $wr-filter-height;
        --bs-border-color: #aaa;

        & .input-group {
            height: 100%;
        }
    }
}
