.wr-table {
    &__wrap {
        height: 100%;
        // background-color: $white;
        overflow: auto;
    }

    &--hover {
        & tbody tr:hover {
            background-color: $wr-table-hover-color;
        }

        & tbody tr {
            cursor: pointer;
        }
    }

    &--normal {
        & table td,
        & table th {
            border: 1px solid $wr-divider-color;
            border: 1px solid $wr-divider-color;
        }

        & .form-control {
            height: 30px;
            font-size: 13px;
        }

        & .form-control::placeholder {
            font-size: 13px;
        }

        & th {
            font-size: 13px;
            font-weight: 500;
        }

        & thead {
            background-color: #e2eaff !important;
        }
    }

    &--scrollable {
        height: 100%;

        & table {
            border-collapse: separate !important;
            // padding-bottom: 5px;
        }

        & table td,
        & table th {
            border-right: 1px solid $wr-table-border-color;
            border-bottom: 1px solid $wr-table-border-color;
        }

        & table th:last-child,
        & table td:last-child {
            border-right: none;
        }

        // & table tbody tr:last-child td,
        // & table tfoot tr:last-child td {
        //     border-bottom: none;
        // }

        // & table tfoot tr:first-child td {
        //     border-top: 1px solid $wr-divider-color-300;
        // }

        & tbody {
            padding-bottom: 5px;
        }

        & td {
            border: none;
        }

        & thead {
            margin: 0;
            position: sticky;
            top: 0;
            background-color: $wr-thead-bg-color !important;
            border-bottom: 1px solid $wr-table-border-color;
        }
    }

    &.table {
        margin-bottom: 0 !important;
    }

    & .paginaton {
        margin: 0 !important;
    }

    & td {
        border: none;
        max-width: 200px;
        // overflow: hidden;
        // text-overflow: ellipsis;
        text-align: center;
        color: #484848;
    }

    & tbody {
        font-size: 13px;
        background-color: $white !important;
    }

    // & .resizer {
    //     position: absolute;
    //     right: 0;
    //     top: 0;
    //     height: 100%;
    //     width: 5px;
    //     background: rgba(0, 0, 0, 0.5);
    //     cursor: col-resize;
    //     user-select: none;
    //     touch-action: none;
    // }

    // & .resizer.isResizing {
    //     background: blue;
    //     opacity: 1;
    // }

    // @media (hover: hover) {
    //     .resizer {
    //         opacity: 0;
    //     }

    //     *:hover > .resizer {
    //         opacity: 1;
    //     }
    // }

    &__header {
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        gap: 3px;
        user-select: none;
        overflow: hidden;
        text-overflow: ellipsis;
        font-weight: 500;
        color: #505050;
    }

    &__extension {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 5px;
        border: 1px solid $wr-divider-color-300;
        border-top: 0;
    }

    &__title {
        background-color: #bfe4f2 !important;
    }

    &__subtitle {
        background-color: #e3edec !important;
    }

    &__etc {
        background-color: #ece1c3 !important;
    }
}
