.wr-tab {
    position: relative;
    font-size: 14px;

    // Custom Bootstrap
    & .nav-link {
        border-top-left-radius: 0 !important;
        border-top-right-radius: 0 !important;
        padding-left: 15px !important;
        padding-right: 3px !important;
    }

    & .nav-link:not(.single) {
        padding-right: 40px !important;
    }
    // 아이콘 영역
    &__icon {
        position: absolute;
        top: calc(50% + 1px);
        right: 10px;
        transform: translateY(-50%);
    }
}
