.wr-tab {
    position: relative;
    font-size: 16px;
    font-weight: 500;
    color: $white;
    border-radius: 3px 15px 0px 0px;

    &:first-of-type {
        border-left-width: 0px !important;
        border-top-left-radius: 0px !important;
    }

    &__wrap {
        min-height: $wr-tab-size;
        padding-left: 0;
        display: flex;
        flex-wrap: nowrap;
        max-width: $wr-layout-width;
    }

    &__line {
        flex: 1;
        border-bottom: 5px solid #f8b62d;
    }

    &__link {
        padding: 7px 8px;
        display: flex;
        justify-content: center;
        align-items: center;
        white-space: nowrap;
        font-size: 13px;
        color: rgba(0, 0, 0, 0.6);

        // 단독인 경우
        &:not(.single) {
            padding-right: 35px;
        }

        &:hover {
            color: inherit;
        }
    }

    & button {
        background-color: inherit;
    }

    & + & {
        border-left: 0;
    }

    // 활성화된 경우
    &.active {
        background-color: var(--wr-tab-active-color);
        color: $wr-primary-color;
        border-bottom: 0;
        font-weight: 700;
        border: 5px solid #f8b62d;
        border-bottom-width: 0;
    }

    &:not(.active) {
        background-color: #e0e5ef;
        font-weight: 400;
        border-top-width: 0;
        border-bottom: 5px solid #f8b62d;
        box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.25) inset;
    }

    &:hover {
        color: black;
    }

    // 아이콘 영역
    &__icon {
        position: absolute;
        top: calc(50% + 1px);
        right: $wr-gutter-size;
        transform: translateY(-50%);
    }
}

.wr-tabpanel {
    padding: $wr-detail-gutter-size;
}
