.wr-table {
    &__wrap {
        // max-height: 630px;
        overflow: auto;
        background-color: $white;
        margin-top: $wr-gutter-size;
        // border: 1px solid $wr-divider-color-200;
        flex: 1;
    }

    &--border {
        border: 1px solid $wr-divider-color-300;
    }

    &.table {
        margin-bottom: 0 !important;
    }

    & .paginaton {
        margin: 0 !important;
    }

    & .table > :not(caption) > * > * {
        padding: 6px 5px !important;
    }
    & thead {
        font-size: 14px;
        background-color: $gray-300 !important;
        border-bottom: 1px solid $wr-divider-color-300;
    }

    & tbody {
        font-size: 12px;

        & tr {
            cursor: pointer;
        }

        & tr:hover {
            background-color: $wr-table-hover-color;
        }
    }
}
