// 기본 폰트
$wr-base-font: Noto Sans KR;
// 구분선 색
$wr-divider-color: #e5e5e5;
// z-index
$wr-gnb-index: 2100;
$wr-lnb-index: 1900;
$wr-drawer-index: 3100;
$wr-overlay-index: 3000;
// colors
$wr-bg-color: #1466a4;
$wr-header-color: $wr-bg-color;
$wr-label-color: #aaa;

// custom bootstrap variables
$accordion-icon-active-color: white;
$accordion-icon-color: white;
