// 기본 폰트
$wr-base-font: Noto Sans KR;
// 구분선 색
$wr-divider-color-100: #e5e5e5;
$wr-divider-color-200: rgba(0, 0, 0, 0.175);
$wr-divider-color-300: #aaa;
// size
$wr-gutter-size: 10px;
$wr-label-size: 12px;
$wr-filter-font-size: 14px;
$wr-filter-height: 30px;
$wr-detail-filter-height: 36px;
$wr-border-radius: 0;
$wr-header-size: 110px;
$wr-footer-size: 50px;
// z-index
$wr-gnb-index: 1049;
$wr-lnb-index: 1048;
$wr-drawer-index: 3100;
$wr-overlay-index: 1047;
$wr-nav-index: 1000;
// colors
$wr-primary-color: #003cdc;
$wr-secondary-color: #5bc2e7;
$wr-bg-color: #e9ecef;
// $wr-header-color: #1466a4;
$wr-header-color: $wr-primary-color;
$wr-label-color: #aaa;
$wr-with-label-active: #e7edcb;
$wr-with-label-disable: #e2eaf2;
$wr-hover-color: #adb5bd;
$wr-table-hover-color: #e2eaf2;
$wr-disable-bg-color: #c1c7cc;
$wr-disable-font-color: #6c757d;

// custom bootstrap variables
// $accordion-icon-active-color: white;
// $accordion-icon-color: white;

:export {
    dividerColor: $wr-divider-color-300;
    filterHeight: $wr-filter-height;
    detailFilterHeight: $wr-detail-filter-height;
    filterFontSize: $wr-filter-font-size;
    filterBorderRadius: $wr-border-radius;
    disableBgColor: $wr-disable-bg-color;
    disableFontColor: $wr-disable-font-color;
    headerHeight: $wr-header-size;
    gutterSize: $wr-gutter-size;
}
