// 기본 폰트
$wr-base-font: Noto Sans KR;
// size
$wr-font-size: 14px;
$wr-gutter-size: 10px;
$wr-label-size: 12px;
$wr-filter-font-size: 13px;
$wr-filter-height: 30px;
$wr-detail-filter-height: 36px;
$wr-list-filter-height: 30px;
$wr-border-radius: 0;
$wr-header-size: 110px;
$wr-footer-size: 70px;
$wr-tab-size: 35px;
$wr-nav-width: 150px;
$wr-layout-width: calc(100vw - $wr-nav-width);
// z-index
$wr-gnb-index: 1049;
$wr-lnb-index: 1048;
$wr-drawer-index: 3100;
$wr-overlay-index: 1047;
$wr-nav-index: 1000;
$wr-oninput-index: 500;
$wr-select-index: 1046;
$wr-datepicker-index: 1100;
// colors
// 블루 컬러1 - 버튼 및 아이콘
$wr-blue1: #4b74de;
// 블루 컬러2 - 블루 컬러1 보다 한단계 연한색
$wr-blue2: #b8d4ff;
// 블루 컬러3 - 배경색
$wr-blue3: #f5f9ff;
// 회색 컬러1 - 레이블, 진한 구분선
$wr-gray1: #6d6d6d;
// 회색 컬러2 - 중간 구분선
$wr-gray2: #d9d9d9;
// 회색 컬러3 - 연한 구분선
$wr-gray3: #dce2eb;
// 구분선 색
$wr-divider-color: #e4e7ef;
$wr-divider-color-200: rgba(0, 0, 0, 0.175);
$wr-divider-color-300: $wr-gray2;
// 메인색
$wr-primary-color: $wr-blue1;
// 서브색
$wr-secondary-color: #6d6d6d;
// 배경색
$wr-bg-color: $wr-blue3;
// 입력창 테두리 색
$wr-input-border-color: $wr-gray3;
// 테이블 테두리 색
$wr-table-border-color: $wr-gray2;
// 테이블 헤더 배경색
$wr-thead-bg-color: #deebff;
// 활성화 색
$wr-active-color: #185bc3;
// 입력창 텍스트 색
$wr-input-font-color: #555;
// 상세 - input placeholder 색
$wr-detail-input-placeholder-color: #a6a9bb;
// 상세 - input 배경 색
$wr-detail-input-bg-color: #f8f9ff;
// 상세 - input 테두리 색
$wr-detail-input-border-color: $wr-divider-color;

// $wr-header-color: #1466a4;
$wr-header-color: $wr-primary-color;
$wr-label-color: #aaa;
$wr-with-label-active: #e7edcb;
$wr-with-label-disable: #e2eaf2;
$wr-hover-color: #adb5bd;
$wr-table-hover-color: #e2eaf2;
$wr-disable-bg-color: #c1c7cc;
$wr-disable-font-color: #6c757d;
$wr-disable-input-color: #e9ecef;

// custom bootstrap variables
// $accordion-icon-active-color: white;
// $accordion-icon-color: white;

:export {
    defaultFontSize: $wr-font-size;
    dividerColor: $wr-divider-color-300;
    filterHeight: $wr-filter-height;
    detailFilterHeight: $wr-detail-filter-height;
    filterFontSize: $wr-filter-font-size;
    filterBorderRadius: $wr-border-radius;
    disableBgColor: $wr-disable-bg-color;
    disableFontColor: $wr-disable-font-color;
    headerHeight: $wr-header-size;
    gutterSize: $wr-gutter-size;
    selectZindex: $wr-select-index;
    disabledInputColor: $wr-disable-input-color;
    navWidth: $wr-nav-width;
    layoutWidth: $wr-layout-width;
    inputBorderColor: $wr-input-border-color;
    inputFontColor: $wr-input-font-color;
    blue1: $wr-blue1;
    blue2: $wr-blue2;
    blue3: $wr-blue3;
    primaryColor: $wr-primary-color;
    secondaryColor: $wr-secondary-color;
    detailPlaceholderColor: $wr-detail-input-placeholder-color;
    detailInputBorderColor: $wr-detail-input-border-color;
    detailInputBgColor: $wr-detail-input-bg-color;
}
