.btn-wrap {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
}

.btn-wrap > button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

/*  Architect UI  */

.btn {
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 0.88rem;
    border-radius: 0.25rem;
    transition: color 0.15s, background-color 0.15s, border-color 0.15s,
        box-shadow 0.15s;
}

.btn-check {
    position: absolute;
    clip: rect(0, 0, 0, 0);
    pointer-events: none;
}

.btn-check[disabled] + .btn,
.btn-check:disabled + .btn {
    pointer-events: none;
    filter: none;
    opacity: 0.65;
}

.btn:hover {
    color: #495057;
}
.btn-check:focus + .btn,
.btn:focus {
    outline: 0;
    box-shadow: none;
}
.btn:disabled,
.btn.disabled,
fieldset:disabled .btn {
    pointer-events: none;
    opacity: 0.65;
}

.btn-primary {
    color: #fff;
    background-color: #545cd8;
    border-color: #545cd8;
}
.btn-primary:hover {
    color: #fff;
    background-color: #474eb8;
    border-color: #434aad;
}
.btn-check:focus + .btn-primary,
.btn-primary:focus {
    color: #fff;
    background-color: #474eb8;
    border-color: #434aad;
    box-shadow: 0 0 0 0 rgba(110, 116, 222, 0.5);
}
.btn-check:checked + .btn-primary,
.btn-check:active + .btn-primary,
.btn-primary:active,
.btn-primary.active,
.show > .btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #434aad;
    border-color: #3f45a2;
}
.btn-check:checked + .btn-primary:focus,
.btn-check:active + .btn-primary:focus,
.btn-primary:active:focus,
.btn-primary.active:focus,
.show > .btn-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 0 rgba(110, 116, 222, 0.5);
}
.btn-primary:disabled,
.btn-primary.disabled {
    color: #fff;
    background-color: #545cd8;
    border-color: #545cd8;
}

.btn-secondary {
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d;
}
.btn-secondary:hover {
    color: #fff;
    background-color: #5c636a;
    border-color: #565e64;
}
.btn-check:focus + .btn-secondary,
.btn-secondary:focus {
    color: #fff;
    background-color: #5c636a;
    border-color: #565e64;
    box-shadow: 0 0 0 0 rgba(130, 138, 145, 0.5);
}
.btn-check:checked + .btn-secondary,
.btn-check:active + .btn-secondary,
.btn-secondary:active,
.btn-secondary.active,
.show > .btn-secondary.dropdown-toggle {
    color: #fff;
    background-color: #565e64;
    border-color: #51585e;
}
.btn-check:checked + .btn-secondary:focus,
.btn-check:active + .btn-secondary:focus,
.btn-secondary:active:focus,
.btn-secondary.active:focus,
.show > .btn-secondary.dropdown-toggle:focus {
    box-shadow: 0 0 0 0 rgba(130, 138, 145, 0.5);
}
.btn-secondary:disabled,
.btn-secondary.disabled {
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d;
}

.btn-success {
    color: #000;
    background-color: #3ac47d;
    border-color: #3ac47d;
}
.btn-success:hover {
    color: #000;
    background-color: #58cd91;
    border-color: #4eca8a;
}
.btn-check:focus + .btn-success,
.btn-success:focus {
    color: #000;
    background-color: #58cd91;
    border-color: #4eca8a;
    box-shadow: 0 0 0 0 rgba(49, 167, 106, 0.5);
}
.btn-check:checked + .btn-success,
.btn-check:active + .btn-success,
.btn-success:active,
.btn-success.active,
.show > .btn-success.dropdown-toggle {
    color: #000;
    background-color: #61d097;
    border-color: #4eca8a;
}
.btn-check:checked + .btn-success:focus,
.btn-check:active + .btn-success:focus,
.btn-success:active:focus,
.btn-success.active:focus,
.show > .btn-success.dropdown-toggle:focus {
    box-shadow: 0 0 0 0 rgba(49, 167, 106, 0.5);
}
.btn-success:disabled,
.btn-success.disabled {
    color: #000;
    background-color: #3ac47d;
    border-color: #3ac47d;
}

.btn-info {
    color: #000;
    background-color: #30b1ff;
    border-color: #30b1ff;
}
.btn-info:hover {
    color: #000;
    background-color: #4fbdff;
    border-color: #45b9ff;
}
.btn-check:focus + .btn-info,
.btn-info:focus {
    color: #000;
    background-color: #4fbdff;
    border-color: #45b9ff;
    box-shadow: 0 0 0 0 rgba(41, 150, 217, 0.5);
}
.btn-check:checked + .btn-info,
.btn-check:active + .btn-info,
.btn-info:active,
.btn-info.active,
.show > .btn-info.dropdown-toggle {
    color: #000;
    background-color: #59c1ff;
    border-color: #45b9ff;
}
.btn-check:checked + .btn-info:focus,
.btn-check:active + .btn-info:focus,
.btn-info:active:focus,
.btn-info.active:focus,
.show > .btn-info.dropdown-toggle:focus {
    box-shadow: 0 0 0 0 rgba(41, 150, 217, 0.5);
}
.btn-info:disabled,
.btn-info.disabled {
    color: #000;
    background-color: #30b1ff;
    border-color: #30b1ff;
}

.btn-warning {
    color: #000;
    background-color: #f7b924;
    border-color: #f7b924;
}
.btn-warning:hover {
    color: #000;
    background-color: #f8c445;
    border-color: #f8c03a;
}
.btn-check:focus + .btn-warning,
.btn-warning:focus {
    color: #000;
    background-color: #f8c445;
    border-color: #f8c03a;
    box-shadow: 0 0 0 0 rgba(210, 157, 31, 0.5);
}
.btn-check:checked + .btn-warning,
.btn-check:active + .btn-warning,
.btn-warning:active,
.btn-warning.active,
.show > .btn-warning.dropdown-toggle {
    color: #000;
    background-color: #f9c750;
    border-color: #f8c03a;
}
.btn-check:checked + .btn-warning:focus,
.btn-check:active + .btn-warning:focus,
.btn-warning:active:focus,
.btn-warning.active:focus,
.show > .btn-warning.dropdown-toggle:focus {
    box-shadow: 0 0 0 0 rgba(210, 157, 31, 0.5);
}
.btn-warning:disabled,
.btn-warning.disabled {
    color: #000;
    background-color: #f7b924;
    border-color: #f7b924;
}

.btn-danger {
    color: #fff;
    background-color: #d92550;
    border-color: #d92550;
}
.btn-danger:hover {
    color: #fff;
    background-color: #b81f44;
    border-color: #ae1e40;
}
.btn-check:focus + .btn-danger,
.btn-danger:focus {
    color: #fff;
    background-color: #b81f44;
    border-color: #ae1e40;
    box-shadow: 0 0 0 0 rgba(223, 70, 106, 0.5);
}
.btn-check:checked + .btn-danger,
.btn-check:active + .btn-danger,
.btn-danger:active,
.btn-danger.active,
.show > .btn-danger.dropdown-toggle {
    color: #fff;
    background-color: #ae1e40;
    border-color: #a31c3c;
}
.btn-check:checked + .btn-danger:focus,
.btn-check:active + .btn-danger:focus,
.btn-danger:active:focus,
.btn-danger.active:focus,
.show > .btn-danger.dropdown-toggle:focus {
    box-shadow: 0 0 0 0 rgba(223, 70, 106, 0.5);
}
.btn-danger:disabled,
.btn-danger.disabled {
    color: #fff;
    background-color: #d92550;
    border-color: #d92550;
}

.btn-light {
    color: #000;
    background-color: #eeeeee;
    border-color: #eeeeee;
}
.btn-light:hover {
    color: #000;
    background-color: #f1f1f1;
    border-color: #f0f0f0;
}
.btn-check:focus + .btn-light,
.btn-light:focus {
    color: #000;
    background-color: #f1f1f1;
    border-color: #f0f0f0;
    box-shadow: 0 0 0 0 rgba(202, 202, 202, 0.5);
}
.btn-check:checked + .btn-light,
.btn-check:active + .btn-light,
.btn-light:active,
.btn-light.active,
.show > .btn-light.dropdown-toggle {
    color: #000;
    background-color: #f1f1f1;
    border-color: #f0f0f0;
}
.btn-check:checked + .btn-light:focus,
.btn-check:active + .btn-light:focus,
.btn-light:active:focus,
.btn-light.active:focus,
.show > .btn-light.dropdown-toggle:focus {
    box-shadow: 0 0 0 0 rgba(202, 202, 202, 0.5);
}
.btn-light:disabled,
.btn-light.disabled {
    color: #000;
    background-color: #eeeeee;
    border-color: #eeeeee;
}

.btn-dark {
    color: #fff;
    background-color: #343a40;
    border-color: #343a40;
}
.btn-dark:hover {
    color: #fff;
    background-color: #2c3136;
    border-color: #2a2e33;
}
.btn-check:focus + .btn-dark,
.btn-dark:focus {
    color: #fff;
    background-color: #2c3136;
    border-color: #2a2e33;
    box-shadow: 0 0 0 0 rgba(82, 88, 93, 0.5);
}
.btn-check:checked + .btn-dark,
.btn-check:active + .btn-dark,
.btn-dark:active,
.btn-dark.active,
.show > .btn-dark.dropdown-toggle {
    color: #fff;
    background-color: #2a2e33;
    border-color: #272c30;
}
.btn-check:checked + .btn-dark:focus,
.btn-check:active + .btn-dark:focus,
.btn-dark:active:focus,
.btn-dark.active:focus,
.show > .btn-dark.dropdown-toggle:focus {
    box-shadow: 0 0 0 0 rgba(82, 88, 93, 0.5);
}
.btn-dark:disabled,
.btn-dark.disabled {
    color: #fff;
    background-color: #343a40;
    border-color: #343a40;
}

.btn-focus {
    color: #fff;
    background-color: #444054;
    border-color: #444054;
}
.btn-focus:hover {
    color: #fff;
    background-color: #3a3647;
    border-color: #363343;
}
.btn-check:focus + .btn-focus,
.btn-focus:focus {
    color: #fff;
    background-color: #3a3647;
    border-color: #363343;
    box-shadow: 0 0 0 0 rgba(96, 93, 110, 0.5);
}
.btn-check:checked + .btn-focus,
.btn-check:active + .btn-focus,
.btn-focus:active,
.btn-focus.active,
.show > .btn-focus.dropdown-toggle {
    color: #fff;
    background-color: #363343;
    border-color: #33303f;
}
.btn-check:checked + .btn-focus:focus,
.btn-check:active + .btn-focus:focus,
.btn-focus:active:focus,
.btn-focus.active:focus,
.show > .btn-focus.dropdown-toggle:focus {
    box-shadow: 0 0 0 0 rgba(96, 93, 110, 0.5);
}
.btn-focus:disabled,
.btn-focus.disabled {
    color: #fff;
    background-color: #444054;
    border-color: #444054;
}

.btn-alternate {
    color: #fff;
    background-color: #83588a;
    border-color: #83588a;
}
.btn-alternate:hover {
    color: #fff;
    background-color: #6f4b75;
    border-color: #69466e;
}
.btn-check:focus + .btn-alternate,
.btn-alternate:focus {
    color: #fff;
    background-color: #6f4b75;
    border-color: #69466e;
    box-shadow: 0 0 0 0 rgba(150, 113, 156, 0.5);
}
.btn-check:checked + .btn-alternate,
.btn-check:active + .btn-alternate,
.btn-alternate:active,
.btn-alternate.active,
.show > .btn-alternate.dropdown-toggle {
    color: #fff;
    background-color: #69466e;
    border-color: #624268;
}
.btn-check:checked + .btn-alternate:focus,
.btn-check:active + .btn-alternate:focus,
.btn-alternate:active:focus,
.btn-alternate.active:focus,
.show > .btn-alternate.dropdown-toggle:focus {
    box-shadow: 0 0 0 0 rgba(150, 113, 156, 0.5);
}
.btn-alternate:disabled,
.btn-alternate.disabled {
    color: #fff;
    background-color: #83588a;
    border-color: #83588a;
}

.btn-outline-primary {
    color: #545cd8;
    border-color: #545cd8;
}
.btn-outline-primary:hover {
    color: #fff;
    background-color: #545cd8;
    border-color: #545cd8;
}
.btn-check:focus + .btn-outline-primary,
.btn-outline-primary:focus {
    box-shadow: 0 0 0 0 rgba(84, 92, 216, 0.5);
}
.btn-check:checked + .btn-outline-primary,
.btn-check:active + .btn-outline-primary,
.btn-outline-primary:active,
.btn-outline-primary.active,
.btn-outline-primary.dropdown-toggle.show {
    color: #fff;
    background-color: #545cd8;
    border-color: #545cd8;
}
.btn-check:checked + .btn-outline-primary:focus,
.btn-check:active + .btn-outline-primary:focus,
.btn-outline-primary:active:focus,
.btn-outline-primary.active:focus,
.btn-outline-primary.dropdown-toggle.show:focus {
    box-shadow: 0 0 0 0 rgba(84, 92, 216, 0.5);
}
.btn-outline-primary:disabled,
.btn-outline-primary.disabled {
    color: #545cd8;
    background-color: transparent;
}

.btn-outline-secondary {
    color: #6c757d;
    border-color: #6c757d;
}
.btn-outline-secondary:hover {
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d;
}
.btn-check:focus + .btn-outline-secondary,
.btn-outline-secondary:focus {
    box-shadow: 0 0 0 0 rgba(108, 117, 125, 0.5);
}
.btn-check:checked + .btn-outline-secondary,
.btn-check:active + .btn-outline-secondary,
.btn-outline-secondary:active,
.btn-outline-secondary.active,
.btn-outline-secondary.dropdown-toggle.show {
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d;
}
.btn-check:checked + .btn-outline-secondary:focus,
.btn-check:active + .btn-outline-secondary:focus,
.btn-outline-secondary:active:focus,
.btn-outline-secondary.active:focus,
.btn-outline-secondary.dropdown-toggle.show:focus {
    box-shadow: 0 0 0 0 rgba(108, 117, 125, 0.5);
}
.btn-outline-secondary:disabled,
.btn-outline-secondary.disabled {
    color: #6c757d;
    background-color: transparent;
}

.btn-outline-success {
    color: #3ac47d;
    border-color: #3ac47d;
}
.btn-outline-success:hover {
    color: #000;
    background-color: #3ac47d;
    border-color: #3ac47d;
}
.btn-check:focus + .btn-outline-success,
.btn-outline-success:focus {
    box-shadow: 0 0 0 0 rgba(58, 196, 125, 0.5);
}
.btn-check:checked + .btn-outline-success,
.btn-check:active + .btn-outline-success,
.btn-outline-success:active,
.btn-outline-success.active,
.btn-outline-success.dropdown-toggle.show {
    color: #000;
    background-color: #3ac47d;
    border-color: #3ac47d;
}
.btn-check:checked + .btn-outline-success:focus,
.btn-check:active + .btn-outline-success:focus,
.btn-outline-success:active:focus,
.btn-outline-success.active:focus,
.btn-outline-success.dropdown-toggle.show:focus {
    box-shadow: 0 0 0 0 rgba(58, 196, 125, 0.5);
}
.btn-outline-success:disabled,
.btn-outline-success.disabled {
    color: #3ac47d;
    background-color: transparent;
}

.btn-outline-info {
    color: #30b1ff;
    border-color: #30b1ff;
}
.btn-outline-info:hover {
    color: #000;
    background-color: #30b1ff;
    border-color: #30b1ff;
}
.btn-check:focus + .btn-outline-info,
.btn-outline-info:focus {
    box-shadow: 0 0 0 0 rgba(48, 177, 255, 0.5);
}
.btn-check:checked + .btn-outline-info,
.btn-check:active + .btn-outline-info,
.btn-outline-info:active,
.btn-outline-info.active,
.btn-outline-info.dropdown-toggle.show {
    color: #000;
    background-color: #30b1ff;
    border-color: #30b1ff;
}
.btn-check:checked + .btn-outline-info:focus,
.btn-check:active + .btn-outline-info:focus,
.btn-outline-info:active:focus,
.btn-outline-info.active:focus,
.btn-outline-info.dropdown-toggle.show:focus {
    box-shadow: 0 0 0 0 rgba(48, 177, 255, 0.5);
}
.btn-outline-info:disabled,
.btn-outline-info.disabled {
    color: #30b1ff;
    background-color: transparent;
}

.btn-outline-warning {
    color: #f7b924;
    border-color: #f7b924;
}
.btn-outline-warning:hover {
    color: #000;
    background-color: #f7b924;
    border-color: #f7b924;
}
.btn-check:focus + .btn-outline-warning,
.btn-outline-warning:focus {
    box-shadow: 0 0 0 0 rgba(247, 185, 36, 0.5);
}
.btn-check:checked + .btn-outline-warning,
.btn-check:active + .btn-outline-warning,
.btn-outline-warning:active,
.btn-outline-warning.active,
.btn-outline-warning.dropdown-toggle.show {
    color: #000;
    background-color: #f7b924;
    border-color: #f7b924;
}
.btn-check:checked + .btn-outline-warning:focus,
.btn-check:active + .btn-outline-warning:focus,
.btn-outline-warning:active:focus,
.btn-outline-warning.active:focus,
.btn-outline-warning.dropdown-toggle.show:focus {
    box-shadow: 0 0 0 0 rgba(247, 185, 36, 0.5);
}
.btn-outline-warning:disabled,
.btn-outline-warning.disabled {
    color: #f7b924;
    background-color: transparent;
}

.btn-outline-danger {
    color: #d92550;
    border-color: #d92550;
}
.btn-outline-danger:hover {
    color: #fff;
    background-color: #d92550;
    border-color: #d92550;
}
.btn-check:focus + .btn-outline-danger,
.btn-outline-danger:focus {
    box-shadow: 0 0 0 0 rgba(217, 37, 80, 0.5);
}
.btn-check:checked + .btn-outline-danger,
.btn-check:active + .btn-outline-danger,
.btn-outline-danger:active,
.btn-outline-danger.active,
.btn-outline-danger.dropdown-toggle.show {
    color: #fff;
    background-color: #d92550;
    border-color: #d92550;
}
.btn-check:checked + .btn-outline-danger:focus,
.btn-check:active + .btn-outline-danger:focus,
.btn-outline-danger:active:focus,
.btn-outline-danger.active:focus,
.btn-outline-danger.dropdown-toggle.show:focus {
    box-shadow: 0 0 0 0 rgba(217, 37, 80, 0.5);
}
.btn-outline-danger:disabled,
.btn-outline-danger.disabled {
    color: #d92550;
    background-color: transparent;
}

.btn-outline-light {
    color: #eeeeee;
    border-color: #eeeeee;
}
.btn-outline-light:hover {
    color: #000;
    background-color: #eeeeee;
    border-color: #eeeeee;
}
.btn-check:focus + .btn-outline-light,
.btn-outline-light:focus {
    box-shadow: 0 0 0 0 rgba(238, 238, 238, 0.5);
}
.btn-check:checked + .btn-outline-light,
.btn-check:active + .btn-outline-light,
.btn-outline-light:active,
.btn-outline-light.active,
.btn-outline-light.dropdown-toggle.show {
    color: #000;
    background-color: #eeeeee;
    border-color: #eeeeee;
}
.btn-check:checked + .btn-outline-light:focus,
.btn-check:active + .btn-outline-light:focus,
.btn-outline-light:active:focus,
.btn-outline-light.active:focus,
.btn-outline-light.dropdown-toggle.show:focus {
    box-shadow: 0 0 0 0 rgba(238, 238, 238, 0.5);
}
.btn-outline-light:disabled,
.btn-outline-light.disabled {
    color: #eeeeee;
    background-color: transparent;
}

.btn-outline-dark {
    color: #343a40;
    border-color: #343a40;
}
.btn-outline-dark:hover {
    color: #fff;
    background-color: #343a40;
    border-color: #343a40;
}
.btn-check:focus + .btn-outline-dark,
.btn-outline-dark:focus {
    box-shadow: 0 0 0 0 rgba(52, 58, 64, 0.5);
}
.btn-check:checked + .btn-outline-dark,
.btn-check:active + .btn-outline-dark,
.btn-outline-dark:active,
.btn-outline-dark.active,
.btn-outline-dark.dropdown-toggle.show {
    color: #fff;
    background-color: #343a40;
    border-color: #343a40;
}
.btn-check:checked + .btn-outline-dark:focus,
.btn-check:active + .btn-outline-dark:focus,
.btn-outline-dark:active:focus,
.btn-outline-dark.active:focus,
.btn-outline-dark.dropdown-toggle.show:focus {
    box-shadow: 0 0 0 0 rgba(52, 58, 64, 0.5);
}
.btn-outline-dark:disabled,
.btn-outline-dark.disabled {
    color: #343a40;
    background-color: transparent;
}

.btn-outline-focus {
    color: #444054;
    border-color: #444054;
}
.btn-outline-focus:hover {
    color: #fff;
    background-color: #444054;
    border-color: #444054;
}
.btn-check:focus + .btn-outline-focus,
.btn-outline-focus:focus {
    box-shadow: 0 0 0 0 rgba(68, 64, 84, 0.5);
}
.btn-check:checked + .btn-outline-focus,
.btn-check:active + .btn-outline-focus,
.btn-outline-focus:active,
.btn-outline-focus.active,
.btn-outline-focus.dropdown-toggle.show {
    color: #fff;
    background-color: #444054;
    border-color: #444054;
}
.btn-check:checked + .btn-outline-focus:focus,
.btn-check:active + .btn-outline-focus:focus,
.btn-outline-focus:active:focus,
.btn-outline-focus.active:focus,
.btn-outline-focus.dropdown-toggle.show:focus {
    box-shadow: 0 0 0 0 rgba(68, 64, 84, 0.5);
}
.btn-outline-focus:disabled,
.btn-outline-focus.disabled {
    color: #444054;
    background-color: transparent;
}

.btn-outline-alternate {
    color: #83588a;
    border-color: #83588a;
}
.btn-outline-alternate:hover {
    color: #fff;
    background-color: #83588a;
    border-color: #83588a;
}
.btn-check:focus + .btn-outline-alternate,
.btn-outline-alternate:focus {
    box-shadow: 0 0 0 0 rgba(131, 88, 138, 0.5);
}
.btn-check:checked + .btn-outline-alternate,
.btn-check:active + .btn-outline-alternate,
.btn-outline-alternate:active,
.btn-outline-alternate.active,
.btn-outline-alternate.dropdown-toggle.show {
    color: #fff;
    background-color: #83588a;
    border-color: #83588a;
}
.btn-check:checked + .btn-outline-alternate:focus,
.btn-check:active + .btn-outline-alternate:focus,
.btn-outline-alternate:active:focus,
.btn-outline-alternate.active:focus,
.btn-outline-alternate.dropdown-toggle.show:focus {
    box-shadow: 0 0 0 0 rgba(131, 88, 138, 0.5);
}
.btn-outline-alternate:disabled,
.btn-outline-alternate.disabled {
    color: #83588a;
    background-color: transparent;
}

.btn-link {
    font-weight: 400;
    color: #545cd8;
    text-decoration: underline;
}
.btn-link:hover {
    color: #434aad;
}
.btn-link:disabled,
.btn-link.disabled {
    color: #6c757d;
}

.btn-lg,
.btn-group-lg > .btn {
    padding: 0.5rem 1rem;
    font-size: 1.1rem;
    border-radius: 0.3rem;
}

.btn-sm,
.btn-group-sm > .btn {
    padding: 0.25rem 0.5rem;
    font-size: 0.968rem;
    border-radius: 0.2rem;
}

.btn-group,
.btn-group-vertical {
    position: relative;
    display: inline-flex;
    vertical-align: middle;
}
.btn-group > .btn,
.btn-group-vertical > .btn {
    position: relative;
    flex: 1 1 auto;
}
.btn-group > .btn-check:checked + .btn,
.btn-group > .btn-check:focus + .btn,
.btn-group > .btn:hover,
.btn-group > .btn:focus,
.btn-group > .btn:active,
.btn-group > .btn.active,
.btn-group-vertical > .btn-check:checked + .btn,
.btn-group-vertical > .btn-check:focus + .btn,
.btn-group-vertical > .btn:hover,
.btn-group-vertical > .btn:focus,
.btn-group-vertical > .btn:active,
.btn-group-vertical > .btn.active {
    z-index: 1;
}

.btn-toolbar {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}
.btn-toolbar .input-group {
    width: auto;
}

.btn-group > .btn:not(:first-child),
.btn-group > .btn-group:not(:first-child) {
    margin-left: -1px;
}
.btn-group > .btn:not(:last-child):not(.dropdown-toggle),
.btn-group > .btn-group:not(:last-child) > .btn {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.btn-group > .btn:nth-child(n + 3),
.btn-group > :not(.btn-check) + .btn,
.btn-group > .btn-group:not(:first-child) > .btn {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.btn-sm + .dropdown-toggle-split,
.btn-group-sm > .btn + .dropdown-toggle-split {
    padding-right: 0.375rem;
    padding-left: 0.375rem;
}

.btn-lg + .dropdown-toggle-split,
.btn-group-lg > .btn + .dropdown-toggle-split {
    padding-right: 0.75rem;
    padding-left: 0.75rem;
}

.btn-group-vertical {
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
.btn-group-vertical > .btn,
.btn-group-vertical > .btn-group {
    width: 100%;
}
.btn-group-vertical > .btn:not(:first-child),
.btn-group-vertical > .btn-group:not(:first-child) {
    margin-top: -1px;
}
.btn-group-vertical > .btn:not(:last-child):not(.dropdown-toggle),
.btn-group-vertical > .btn-group:not(:last-child) > .btn {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.btn-group-vertical > .btn ~ .btn,
.btn-group-vertical > .btn-group:not(:first-child) > .btn {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
