:root {
    --bs-blue: #86c6fb;
    --bs-indigo: #444054;
    --bs-purple: #83588a;
    --bs-pink: #f65ca2;
    --bs-red: #d92550;
    --bs-orange: #fd7e14;
    --bs-yellow: #f7b924;
    --bs-green: #3ac47d;
    --bs-teal: #16e0bd;
    --bs-cyan: #30b1ff;
    --bs-white: #fff;
    --bs-gray: #6c757d;
    --bs-gray-dark: #343a40;
    --bs-primary: #545cd8;
    --bs-secondary: #6c757d;
    --bs-success: #3ac47d;
    --bs-info: #30b1ff;
    --bs-warning: #f7b924;
    --bs-danger: #d92550;
    --bs-light: #eeeeee;
    --bs-dark: #343a40;
    --bs-focus: #444054;
    --bs-alternate: #83588a;
    --bs-font-sans-serif: system-ui, -apple-system, 'Segoe UI', Roboto,
        'Helvetica Neue', Arial, 'Noto Sans', 'Liberation Sans', sans-serif,
        'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
        'Noto Color Emoji';
    --bs-font-default: Noto Sans KR;
    --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas,
        'Liberation Mono', 'Courier New', monospace;
    --bs-gradient: linear-gradient(
        180deg,
        rgba(255, 255, 255, 0.15),
        rgba(255, 255, 255, 0)
    );
}
