.wr-pages-hr-detail {
    &__left {
        flex-basis: 625px;
    }

    &__department {
        font-size: 15px;
    }

    &__avatar {
        width: 195px;
        height: 206px;
        padding: 0.25rem;
        border: 1px solid $wr-detail-input-border-color;
        background: $wr-detail-input-bg-color;
        border-radius: 5px;

        & > img {
            width: 100%;
            height: 100%;
        }
    }
}
